/* ========================================================
                  Tailwind CSS
========================================================*/

@import 'tailwindcss';

/* ========================================================
                  Project COLOR THEME
========================================================*/

:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-b1: #422a3c;
  --color-b2: #422a3cd9;
  --color-b3: #422a3ccc;
  --color-b4: #422a3c4f;
  --color-b5: #422a3c26;
  --color-b6: #422a3c14;
  --color-b7: #422a3c00;

  --color-l1: #ba7894;

  --color-f1: #241520;
  --color-f2: #160813;
}

/* ========================================================
                  SETUP the Project
========================================================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--bg-black);
  color: var(--text-white);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Hide scrollbar - Chrome, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar - Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar - IE/Edge */
body {
  -ms-overflow-style: none;
}
